{{#if user}}
  <h2>Welcome, {{ user.username }}!</h2>
{{else}}
  <p>Still no logged in user, sorry!</p>
{{/if}}


<a href="/search-company">Buscar compañias</a>

{{#each acciones}}
<h5>{{this.name}}</h5>
<a href="/show-company?symbol={{symbol}}">Show details</a>
{{/each}}